<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="url" value="http://srssprojects.in/home.aspx"/>
  <test name="Test">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="com.pack.com.ranford.TestExecution">
      
      </class>
    </classes>
  </test> <!-- Test -->
  
  

  
  
</suite> <!-- Suite -->
